%h2 Resend unlock instructions
= form_for(resource, as: resource_name, url: unlock_path(resource_name)) do |f|
  = devise_error_messages!
  .field
    = f.label :email
    %br/
    = f.email_field :email, autofocus: true
  .actions
    = f.submit "Resend unlock instructions", data: { disable_with: "送信中..." }
= render "devise/shared/links"
