.container.proto-new
  = form_for(@prototype) do |f|
    .col-md-8.col-md-offset-2
      - if @prototype.errors.any?
        #error_explanation.alert.alert-danger
          %h2
            = pluralize(@prototype.errors.count, "error")
            prohibited this prototype from being saved:
          %ul
            - @prototype.errors.full_messages.each do |message|
              %li= message
      %header.row.user-nav.row
        .col-md-12
          = f.text_field :title, placeholder: "Title"
      .row
        .col-md-12
          .cover-image-upload
            = f.fields_for :prototype_images do |main_image|
              = main_image.file_field :content
              - if @prototype.prototype_images.main.first.image.present?
                = image_tag (@prototype.prototype_images.main.first.image), id: "image_preview0", class: "image_preview"
              = main_image.hidden_field :content_type, value: :main
        .col-md-12
          %ul.proto-sub-list.list-group
            - 2.times do
              - @prototype.prototype_images.sub.each.with_index(1) do |sub , num|
                %li.list-group-item.col-md-4.appear_form
                  .image-upload.js-preview
                    = sub_image.file_field :content
                    = image_tag (sub.image),id: "image_preview#{num}", class: "image_preview"
                    = sub_image.hidden_field :content_type, value: :sub
        %li.list-group-item.col-md-4
          .image-upload-plus
            %span +
      .row.proto-description
        .col-md-12
          = f.text_field :catch_copy, placeholder: "Catch Copy"
        .col-md-12
          = f.text_field :concept, placeholder: "Concept", cols: "30", rows: "4"
        .col-md-12
          %h4 Tag List
          .row
            .col-md-3
            .col-md-3
            .col-md-3
      .row.text-center.proto-btn
        = f.submit :Edit, placeholder: "Edit", class:"button btn.btn-lg btn-primary btn-block"
