.container.proto-page
  %header.row.user-nav
    .col-md-6
      .media
        .media-left
          = link_to image_tag(@prototype.user.avatar, class: "media-object", style: "width: 64px; height: 64px;", alt: "64×64")
        .media-body
          %h4#top-aligned-media.media-heading
            = @prototype.title
          .proto-user
            = @prototype.user.name
            %span.degree we-b inc. Designer

    .col-md-6.text-right#like
      = render partial: 'likes/like', locals: {prototype: @prototype, like: @like}

  .row
    .col-md-9
      = image_tag(@prototype.prototype_images.main, class: "img-responsive")
    .col-md-3
      %ul.proto-sub-list.list-group
      - @prototype.prototype_images.sub.each do |sub|
        %li.list-group-item
          = image_tag( sub, class: "img-responsive")
  .row.proto-description
    .col-md-3
      %h4 Catch Copy
      %p
        = @prototype.catch_copy
    .col-md-6
      %h4 Concept
      %p
        = @prototype.concept
    .col-md-3
      %h4 Tag List
      %ul.proto-tag-list.list-inline
        %li
          %a{href: "#", class: "btn btn-default"} iPad
        %li
          %a{href: "#", class: "btn btn-default"} wireframe

  .row.proto-comments
    %h4.col-md-12
      Comments
      %span.num#comments_count (#{@comments.count})
    .col-md-8
      #comments
        = render partial: "comments/comment", locals: {comment: @comments}, collection: @prototype.comments.includes(:user)

    - if user_signed_in?
      .form-inline{role: "form"}
        = form_for [@prototype, @comment], remote: true do |f|
          %h4 Write a comment
          .row
            .form-group.col-md-10
              .form-control{placeholder: "Your comments", rows: "3"}
                = f.text_field :text, placeholder: "Your scomments", row: "3", id: "comment_field"
                = f.hidden_field :user_id
            .form-group.col-md-2
              .btn.btn-primary
                = f.submit "Comment", data: { disable_with: 'Sending' }
