.container
  %form.form-signin
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      %h2.form-signin-heading Please sign in
      %label.sr-only{for: "inputEmail"} Email address
      = f.text_field :email, autofucus: true, placeholder: "Email address", class: "form-control"
      %label.sr-only{for: "inputPassword"} Password
      = f.text_field :password, autofucus: true, placeholder: "Password", class: "form-control"
      .checkbox
      = f.submit "Sign in", data: { disable_with: "送信中..." }, class: "button btn btn-lg btn-primary btn-block"
    .text-center
      %p
        Not a member?
        = link_to 'Sign up now', new_user_registration_path
