.container
  %form.form-signin
  = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    = devise_error_messages!
    %h2.form-signin-heading Please sign in
    %label.sr-only
    = f.text_field :email, class: "input inputEmail form-control"
    %label.sr-only
    = f.password_field :password, placeholder: "Password", class: "input inputPassword form-control"
    .checkbox
      %label
        %input{type: "checkbox", value: "remember-me"}/
        Remember me
    = f.submit 'Submit', data: { disable_with: "sending..." }, class: "button btn btn-lg btn-primary btn-block"
  .text-center
    %p
      Not a member?
    = render "devise/shared/links"
