.container
  %form.form-signin
    = form_for(resource, as: resource_name, url: session_path(resource_name), html: { method: :get }) do |f|
      %h2.form-signin-heading Please sign in
      %label.sr-only{for: "inputEmail"} Email address
      / %input#inputEmail.form-control{autofocus: "", placeholder: "Email address", required: "", type: "email"}/
      .form-control
        = f.text_field :email, autofucus: true, :placeholder => "Email address"
      %label.sr-only{for: "inputPassword"} Password
      .form-control
        = f.text_field :password, autofucus: true, :placeholder => "Password"
      / %input#inputPassword.form-control{placeholder: "Password", required: "", type: "password"}/
      .checkbox
        %label
          / %input{type: "checkbox", value: "remember-me"}/
          / = f.check_box 'remember-me'
      %button.btn.btn-lg.btn-primary.btn-block
        = f.submit "Sign in"
    .text-center
      %p
        Not a member?
        = link_to 'Sign up now', new_user_registration_path
